<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Länder</title>
    <style>
        body {
        margin: 0 auto;
        margin-top: 5%;
        text-align: center;
        background-color: grey;
        margin-bottom: 2.5%;
        }
        .formular {
        background-color: silver;
        border: 1px solid black;
        height: 200px;
        }


    </style>
</head>
<body>
<div class="formular">
<h2 style="margin-top: 4.5%">Speichere die Heimatländer deiner Familie</h2>
<form method="post" action="saveCountry" th:object="${countryToSave}">
    <input type="text" th:field="*{country}">
    <select th:field="*{continent}">
        <option value="Europa">Europa</option>
        <option value="Asien">Asien</option>
        <option value="Australien">Australien</option>
        <option value="Amerika">Amerika</option>
        <option value="Afrika">Afrika</option>
    </select>
    <button type="submit">Speichern!</button>
    <a href="http://localhost:8080/" style="font-size: 12px">zurück!</a>
</form>
</div>
</body>
</html>